<div class="text-sm breadcrumbs ml-20 p-2 mt-12">
  <ul>
    <li><a href="/">Home</a></li>
    <li>All</li>
  </ul>
</div>


<div class="mt-12 mx-14 mb-14">

  <div class="grid grid-cols-12">

    <div class="col-span-2 pl-8">
      <h1 class="font-oceanwide text-black text-4xl">All</h1>
      <div class="grid grid-rows-3 grid-flow-col gap-6">

        <div class="pt-8 pl-0">
          <h1 class="mb-2 text-black text-lg font-oceanwide">Color</h1>
          <div class="grid grid-cols-3 gap-2">
            <button class="btn btn-circle bg-blue-600 border-0 hover:bg-blue-600 hover:border-2"></button>
            <button class="btn btn-circle bg-blue-500 border-0 hover:bg-blue-500 hover:border-2"></button>
            <button class="btn btn-circle bg-blue-400 border-0 hover:bg-blue-400 hover:border-2"></button>
            <button class="btn btn-circle bg-blue-300 border-0 hover:bg-blue-300 hover:border-2"></button>
            <button class="btn btn-circle bg-blue-200 border-0 hover:bg-blue-200 hover:border-2"></button>
          </div>
        </div>

        <div class="pt-8 pl-0">
          <h1 class="mb-2 text-black text-lg font-oceanwide">Size</h1>
          <div class="grid grid-cols-3 gap-2">
            <button class="btn btn-circle btn-outline border-[2px] border-gray-900 text-black hover:bg-gray-900 hover:text-white">
              <span>XS</span>
            </button>
            <button class="btn btn-circle btn-outline border-[2px] border-gray-900 text-black hover:bg-gray-900 hover:text-white">
              <span>S</span>
            </button>
            <button class="btn btn-circle btn-outline border-[2px] border-gray-900 text-black hover:bg-gray-900 hover:text-white">
              <span>M</span>
            </button>
            <button class="btn btn-circle btn-outline border-[2px] border-gray-900 text-black hover:bg-gray-900 hover:text-white">
              <span>L</span>
            </button>
            <button class="btn btn-circle btn-outline border-[2px] border-gray-900 text-black hover:bg-gray-900 hover:text-white">
              <span>XL</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-span-10 ml-32 overflow-y-auto">

      <div class="grid grid-cols-3 mb-4">

        <div class="grid-rows-3 mb-8">
          <div class="w-[240px] h-[250px] bg-blue-100 rounded-lg">
          </div>
          <div class="mt-2 w-[240px] h-[50px]">
            <h3 class="text-black tracking-tight">Koilek 1</h3>
            <h3 class="text-gray-500 tracking-tight text-[15px]">Material-1</h3>
          </div>
          <div class="mt-2">
            <a href="products" class="btn btn-accent font-oceanwide">Add to cart</a>
          </div>
        </div>

        <div class="grid-rows-3 mb-8">
          <div class="w-[240px] h-[250px] bg-blue-100 rounded-lg">
          </div>
          <div class="mt-2 w-[240px] h-[50px]">
            <h3 class="text-black tracking-tight">Koilek 1</h3>
            <h3 class="text-gray-500 tracking-tight text-[15px]">Material-1</h3>
          </div>
          <div class="mt-2">
            <a href="products" class="btn btn-accent font-oceanwide">Add to cart</a>
          </div>
        </div>

        <div class="grid-rows-3 mb-8">
          <div class="w-[240px] h-[250px] bg-blue-100 rounded-lg">
          </div>
          <div class="mt-2 w-[240px] h-[50px]">
            <h3 class="text-black tracking-tight">Koilek 1</h3>
            <h3 class="text-gray-500 tracking-tight text-[15px]">Material-1</h3>
          </div>
          <div class="mt-2">
            <a href="products" class="btn btn-accent font-oceanwide">Add to cart</a>
          </div>
        </div>

        <div class="grid-rows-3 mb-8">
          <div class="w-[240px] h-[250px] bg-blue-100 rounded-lg">
          </div>
          <div class="mt-2 w-[240px] h-[50px]">
            <h3 class="text-black tracking-tight">Koilek 1</h3>
            <h3 class="text-gray-500 tracking-tight text-[15px]">Material-1</h3>
          </div>
          <div class="mt-2">
            <a href="products" class="btn btn-accent font-oceanwide">Add to cart</a>
          </div>
        </div>


      </div>

    </div>


  </div>
</div>
