<div class="grid grid-cols-12 bg-blue-700 px-14 py-14 footer-class">
  <div class="col-span-12 flex flex-row items-center justify-items-center mb-8">
    <img class="w-[35px] p-2 pl-0" src="/assets/img/icons/qr_icon_white.png" alt="icon">
    <h1 class="uppercase text-white font-oceanwide">qazaq republic</h1>
  </div>
  <div class="col-span-3">
    <h1 class="uppercase text-white font-medium tracking-tight mb-4">Catalog</h1>
    <h1 class="footer-text">JEIDE</h1>
    <h1 class="footer-text">KOILEK</h1>
    <h1 class="footer-text">BURJEIDE</h1>
    <h1 class="footer-text">KENJEIDE</h1>
    <h1 class="footer-text">BOTTOM</h1>
    <h1 class="footer-text">SOMKE</h1>
    <h1 class="footer-text">BOTELKE</h1>
  </div>
  <div class="col-span-3">
    <h1 class="uppercase text-white font-medium tracking-tight mb-4">About qr</h1>
    <h1 class="footer-text">History</h1>
    <h1 class="footer-text">Branches</h1>
    <h1 class="footer-text">Franchise</h1>
    <h1 class="footer-text">Investors's site</h1>
  </div>
  <div class="col-span-3">
    <h1 class="uppercase text-white font-medium tracking-tight mb-4">Help & information</h1>
    <h1 class="footer-text">Help</h1>
    <h1 class="footer-text">Track order</h1>
    <h1 class="footer-text">Delivery & Returns</h1>
  </div>
  <div class="col-span-3 relative">
    <h1 class="uppercase text-white font-medium tracking-tight mb-4">Contact us</h1>
    <div class="flex relative">
      <input type="text" class="border rounded-lg p-[7px] bg-gray-200 opacity-30 w-[300px] placeholder"
             placeholder="+7 (---) --- -- --">
      <button class="absolute bg-white text-blue-700 right-0 py-[8px] px-[30px] rounded-lg -pr-10">
        Send
      </button>
    </div>
    <h1 class="uppercase text-white tracking-tight absolute right-0 bottom-4 opacity-80 text-sm">© 2014-2022 Qazaq Republic</h1>
    <h1 class="uppercase text-white tracking-tight absolute right-0 bottom-0 opacity-80 text-sm">by Zhanysbay Adilet</h1>
  </div>
</div>
