<div class="text-sm breadcrumbs ml-20 p-2 mt-12">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/t-shirts">T-shirt</a></li>
    <li>Details</li>
  </ul>
</div>

<div class="mt-12 mx-14 mb-14">
  <div class="grid grid-cols-12">
    <div class="col-span-7 h-full">

      <div id="default-carousel" class="relative" data-carousel="static">
        <!-- Carousel wrapper -->
        <div class="relative h-[600px] overflow-hidden rounded-md">
          <!-- Item 1 -->
          <div class="duration-700 ease-in-out absolute inset-0 transition-all transform translate-x-0 z-20" data-carousel-item="">
            <span class="absolute text-2xl font-semibold text-white -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 sm:text-3xl dark:text-gray-800">First Slide</span>
            <img src="assets/img/items/details/item-1-v1.jpeg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <!-- Item 2 -->
          <div class="duration-700 ease-in-out absolute inset-0 transition-all transform translate-x-full z-10" data-carousel-item="">
            <img src="assets/img/items/details/item-1-v2.jpeg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <!-- Item 3 -->
          <div class="duration-700 ease-in-out absolute inset-0 transition-all transform -translate-x-full z-10" data-carousel-item="">
            <img src="assets/img/items/details/item-1-v3.jpeg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
        </div>
        <!-- Slider indicators -->
        <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
          <button type="button" class="w-3 h-3 rounded-full bg-white dark:bg-gray-800" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
          <button type="button" class="w-3 h-3 rounded-full bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
          <button type="button" class="w-3 h-3 rounded-full bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        </div>
        <!-- Slider controls -->
        <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev="">
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
        </span>
        </button>
        <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next="">
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            <span class="sr-only">Next</span>
        </span>
        </button>
      </div>

    </div>
    <div class="col-span-4 ml-12">
      <h1 class="font-oceanwide text-3xl text-black">T-shirt</h1>
      <h3 class="text-sm">Description</h3>

      <h3 class="text-sm mt-8">Price</h3>
      <h3 class="text-lg text-black">12 000&#8376;</h3>

      <h3 class="text-sm mt-8 mb-2">Choose your color</h3>
      <div class="grid grid-cols-3 gap-2 pr-[150px]">
        <button class="btn btn-circle bg-blue-600 border-0 hover:bg-blue-600 hover:border-2"></button>
        <button class="btn btn-circle bg-blue-500 border-0 hover:bg-blue-500 hover:border-2"></button>
        <button class="btn btn-circle bg-blue-400 border-0 hover:bg-blue-400 hover:border-2"></button>
      </div>

      <h3 class="text-sm mt-8 mb-2">Choose your size</h3>
      <div class="grid grid-cols-3 gap-2 pr-[150px]">
        <button class="btn btn-circle btn-outline border-[2px] border-gray-900 text-black hover:bg-gray-900 hover:text-white">
          <span>XS</span>
        </button>
        <button class="btn btn-circle btn-outline border-[2px] border-gray-900 text-black hover:bg-gray-900 hover:text-white">
          <span>S</span>
        </button>
        <button class="btn btn-circle btn-outline border-[2px] border-gray-900 text-black hover:bg-gray-900 hover:text-white">
          <span>M</span>
        </button>
        <button class="btn btn-circle btn-outline border-[2px] border-gray-900 text-black hover:bg-gray-900 hover:text-white">
          <span>L</span>
        </button>
        <button class="btn btn-circle btn-outline border-[2px] border-gray-900 text-black hover:bg-gray-900 hover:text-white">
          <span>XL</span>
        </button>
      </div>

      <h3 class="text-sm mt-8 mb-2">Quantity:</h3>
      <input type="number" class="border-2 mb-5 text-gray-800 border-gray-200 rounded-md w-16">
      <div class="mt-2">
        <a href="#" class="btn btn-accent font-oceanwide">Add to cart</a>
      </div>
    </div>
  </div>
</div>
