<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />

  <div class="drawer-content">
<!-- Page content here -->

    <!-- Right side bar -->
    <div class="drawer drawer-end">
      <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Navigation -->
        <div class="navbar py-2 px-10 fixed glass z-40">
          <div class="navbar-start">
            <div class="dropdown">
              <label for="my-drawer" tabindex="0" class="btn btn-ghost btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
              </label>
            </div>
          </div>
          <div class="navbar-center">
            <a href="/" class="btn btn-ghost p-0 normal-case">
              <div class="basis-1/5 flex flex-row items-center">
                <img class="w-[20px] mr-2" src="/assets/img/icons/qr-icon.png" alt="icon">
                <span class="font-oceanwide uppercase text-black opacity-95">Qazaq Republic</span>
              </div>
            </a>
          </div>
          <div class="navbar-end">
            <div class="dropdown dropdown-end">
              <label for="my-drawer-4" tabindex="0" class="btn btn-ghost btn-circle">
                <div class="indicator">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" /></svg>
                  <span class="badge badge-sm indicator-item">1</span>
                </div>
              </label>
            </div>

            <div class="dropdown dropdown-end">
              <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-8 rounded-full">
                  <img src="https://placeimg.com/80/80/people" />
                </div>
              </label>
              <ul tabindex="0" class="menu menu-compact bg-blue-700 text-white dropdown-content mt-3 p-2 shadow-md rounded-box w-52">
                <li>
                  <a class="justify-between">
                    Profile
                    <span class="badge bg-white text-gray-600 border-0">New</span>
                  </a>
                </li>
                <li><a>Settings</a></li>
                <li><a>Logout</a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Main content -->
        <div class="pt-14">
          <router-outlet class="bg-white"></router-outlet>
          <!--footer-->
          <app-footer></app-footer>
        </div>
      </div>

      <div class="drawer-side">
        <label for="my-drawer-4" class="drawer-overlay"></label>
        <ul class="overflow-y-auto w-[450px]">
          <!-- Sidebar content here -->
          <app-side-bar-cart></app-side-bar-cart>
        </ul>
      </div>
    </div>

  </div>

<!-- Left side bar -->
  <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
    <ul class="overflow-y-auto flex-col items-center p-8 w-[250px] border-r-2 bg-white ">
      <!-- Sidebar content here -->
      <div>
      <li>
        <a href="products" class="btn btn-primary">
          <div class="bg-blue-700 rounded-full w-9 h-9 flex justify-center pt-[6px] mr-2">
            <div class="text-white">
              <mat-icon>favorite_border</mat-icon>
            </div>
          </div>
          <p>All</p>
        </a>
      </li>
        <li>
          <a href="t-shirts" class="btn btn-primary">
            <div class="bg-blue-700 rounded-full w-9 h-9 flex justify-center pt-[6px] mr-2">
              <div class="text-white">
                <mat-icon>favorite_border</mat-icon>
              </div>
            </div>
            <p>T-shirt</p>
          </a>
        </li>
      </div>
    </ul>
  </div>
</div>

