
<!--top-->
<div>
  <div class="grid grid-cols-7 pt-6">

    <div class="col-start-1 col-end-4 flex items-center justify-center pb-8 pl-12">
      <div>
      <div>
        <h1 class="text-5xl font-bold font-oceanwide text-gray-900">
        <span class="block xl:inline">Jūrttan qalmai özıne alyp al</span>
        <span class="block text-blue-700 xl:inline">jetkızu bızden</span>
        </h1>
      </div>
        <div class="mt-12 transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-100 duration-300">
          <a href="#" class="px-10 py-5 font-oceanwide bg-blue-700 text-white rounded-full">Go to catalog</a>
        </div>
      </div>
    </div>


    <div class="col-end-8 col-span-4 relative">
      <img class="h-[500px] object-left object-cover" src="/assets/img/banners/banner-1.jpg" alt="banner-1">
    </div>
  </div>
</div>

<!--info-card-->
<div>
  <div class="grid grid-cols-12 mt-32">

    <div class="bg-blue-700 col-span-5 h-[550px] z-10">
      <div class="col-start-1 col-end-4 flex justify-items-center ml-12">
        <div class="mt-32">
          <div>
            <h1 class="text-3xl font-medium tracking-tight text-white">
              <span class="block xl:inline">We are <br> Qazaq Republic</span>
            </h1>
          </div>
          <div class="mt-10 pr-32">
            <a href="#" class="font-light tracking-tight text-white">
              The word Qazag means "free" from ancient Türkic, therefore our prints have a
              double meaning. It's a play on words:</a>
          </div>

        </div>
      </div>
      <div class="relative ml-12">
        <div class="mt-12">
          <h1 class="text-5xl font-bold font-oceanwide text-white opacity-30">
            <span class="block xl:inline">Born to be Qazaq</span>
          </h1>
        </div>
      </div>
      <div class="relative ml-12">
        <div class="-mt-8">
          <h1 class="text-7xl font-bold font-oceanwide text-white -mr-32">
            <span class="block xl:inline">Born to be Free</span>
          </h1>
        </div>
      </div>
    </div>


    <div class="col-span-7 overflow-hidden relative">
      <img class="absolute" src="assets/img/banners/img-3.jpeg" alt="">
    </div>
  </div>
</div>

<div class="overflow-hidden mt-12">
  <h1  class="absolute font-oceanwide text-[260px] text-blue-700 opacity-20">Bestsellers</h1>
</div>

<div class="grid grid-cols-12 ">
  <div class="col-span-12 flex items-center justify-center">
    <h1  class="font-oceanwide text-[40px] text-black">Bestsellers</h1>
  </div>
</div>

<!--item-cards-->
<div class="bg-white flex items-center justify-center">
  <div class="grid grid-cols-12 gap-6 mx-auto max-w-5xl py-5 px-4">

    <div class="mt-6 col-span-3 transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-300">
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden border rounded-2xl bg-white lg:aspect-none">
          <img src="assets/img/items/bala.jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm font-bold text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                BALA
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Black</p>
          </div>
          <div>
            <p class="text-sm font-medium text-gray-900 line-through text-red-600 opacity-70">12 000₸</p>
            <p class="text-sm font-medium text-gray-900 ">10 000₸</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-6 col-span-3 transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-300">
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden border rounded-2xl bg-gray-200 lg:aspect-none">
          <img src="assets/img/items/weare.jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm font-bold text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                WE ARE QR
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Yellow</p>
          </div>
          <div>
            <p class="text-sm font-medium text-gray-900 line-through text-red-600 opacity-70">11 000₸</p>
            <p class="text-sm font-medium text-gray-900 ">8 000₸</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-6 col-span-3 transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-300">
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden border rounded-2xl bg-gray-200  lg:aspect-none">
          <img src="assets/img/items/kop-soz-3.jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm font-bold  text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                KOP SOZ
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Black</p>
          </div>
          <div>
            <p class="text-sm font-medium text-gray-900 line-through text-red-600 opacity-70">10 000₸</p>
            <p class="text-sm font-medium text-gray-900 ">7 500₸</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-6 col-span-3 transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-300">
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden border rounded-2xl bg-gray-200 lg:aspect-none">
          <img src="assets/img/items/qrep.jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm font-bold text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                QREP
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Yellow</p>
          </div>
          <div>
            <p class="text-sm font-medium text-gray-900 line-through text-red-600 opacity-70">10 000₸</p>
            <p class="text-sm font-medium text-gray-900 ">7 500₸</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--sale-->
<div class="grid grid-cols-12 mt-20 mb-20">


  <div class="col-span-6 mt-12 transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-95 duration-300">
    <img class="max-w-[640px] ml-12" src="assets/img/items/qazaq-republic.jpeg" alt="weareqr">
  </div>

  <div class="col-span-6 flex flex-col items-center justify-center">
    <h1 class="text-[40px] font-oceanwide">SUMMER SALE</h1><br>
    <h1 class="text-[115px] font-oceanwide text-blue-700 -mt-12">-20%</h1>
    <h1 class="text-[40px] font-oceanwide -mt-10">ONLY 5 DAYS</h1><br>
    <div class="mt-12 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-100 duration-300">
      <a href="#" class="px-10 py-5 font-oceanwide bg-blue-700 text-white rounded-full">See more</a>
    </div>
  </div>

</div>

<!--footer-->
<div class="grid grid-cols-12 bg-blue-700 px-24 py-14">
  <div class="col-span-12 flex flex-row items-center justify-items-center mb-8">
    <img class="w-[35px] p-2" src="/assets/img/icons/qr-icon.png" alt="icon">
    <h1 class="uppercase text-white font-oceanwide">qazaq republic</h1>
  </div>
  <div class="col-span-3">
    <h1 class="uppercase text-white font-medium tracking-tight mb-4">Catalog</h1>
    <h1 class="footer-text">JEIDE</h1>
    <h1 class="footer-text">KOILEK</h1>
    <h1 class="footer-text">BURJEIDE</h1>
    <h1 class="footer-text">KENJEIDE</h1>
    <h1 class="footer-text">BOTTOM</h1>
    <h1 class="footer-text">SOMKE</h1>
    <h1 class="footer-text">BOTELKE</h1>
  </div>
  <div class="col-span-3">
    <h1 class="uppercase text-white font-medium tracking-tight mb-4">About qr</h1>
    <h1 class="footer-text">History</h1>
    <h1 class="footer-text">Branches</h1>
    <h1 class="footer-text">Franchise</h1>
    <h1 class="footer-text">Investors's site</h1>
  </div>
  <div class="col-span-3">
    <h1 class="uppercase text-white font-medium tracking-tight mb-4">Help & information</h1>
    <h1 class="footer-text">Help</h1>
    <h1 class="footer-text">Track order</h1>
    <h1 class="footer-text">Delivery & Returns</h1>
  </div>
  <div class="col-span-3 relative">
    <h1 class="uppercase text-white font-medium tracking-tight mb-4">Contact us</h1>
    <div class="flex relative">
      <input type="text" class="border rounded-lg p-[7px] bg-gray-200 opacity-30 w-[300px] placeholder"
             placeholder="+7 (---) --- -- --">
      <button class="absolute bg-white text-blue-700 right-0 py-[8px] px-[30px] rounded-lg -pr-10">
        Send
      </button>
    </div>
    <h1 class="uppercase text-white tracking-tight absolute right-0 bottom-4 opacity-80 text-sm">© 2014-2022 Qazaq Republic</h1>
    <h1 class="uppercase text-white tracking-tight absolute right-0 bottom-0 opacity-80 text-sm">by Zhanysbay Adilet</h1>
  </div>
</div>



