/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Oceanwide";
  src: local("Oceanwide"), url(assets/fonts/Oceanwide-Semibold.otf) format("opentype");
}

.font-oceanwide{
  font-family: "Oceanwide", Arial, Helvetica, sans-serif;
}

@layer components {
  .footer-text {
    @apply uppercase text-white text-sm tracking-tight opacity-50;
  }
}

html, body { height: 100%; }
body { margin: 0; }
